@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-900 dark:text-gray-100 bg-white dark:bg-[#121212] transition-colors duration-300;
  font-family: var(--font-custom), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 15s ease infinite;
    background-size: 200% 200%;
  }

  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 0%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;

    --font-inter: var(--font-inter);
    --font-poppins: var(--font-poppins);
    --font-montserrat: var(--font-montserrat);
    --font-roboto: var(--font-roboto);
    --font-playfair: var(--font-playfair);
    --font-lato: var(--font-lato);
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 7%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-lato {
  font-family: var(--font-lato);
}

